<div class="page-container">
  <h1>Todolist</h1>

  <%= form_with url: todos_path, method: :post, local: true do %>
    <input id="todo_input" type="text" name="text" placeholder="What needs to be done?" />
  <% end %>

  <div id="todo_list">
    <% @todos.each do |todo| %>
      <div class="todo-item <%= 'completed' if todo.done %>">
        <%= button_to '', toggle_todo_path(todo), method: :patch, class: "checkbox" %>
        <p><%= todo.text %></p>
        <%= button_to 'Delete', todo_path(todo), method: :delete, class: "delete" %>
      </div>
    <% end %>
  </div>
</div>
