
<div class="page-container">
<div class="top-bar">
  <% if user_signed_in? %>
    <span class="top-bar-text">Hello, <%= current_user.email %></span>
    <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "top-bar-btn" %>
  <% else %>
    <%= link_to 'Login', new_user_session_path, class: "top-bar-btn" %>
    <%= link_to 'Sign up', new_user_registration_path, class: "top-bar-btn" %>
  <% end %>
</div>

  <h1>Todolist</h1>

  <%= form_with url: todos_path, method: :post, local: true do %>
    <input id="todo_input" type="text" name="text" placeholder="What needs to be done?" />
  <% end %>

  <div id="todo_list">
    <% @todos.each do |todo| %>
      <div class="todo-item <%= 'completed' if todo.done %>">
        <%= button_to '', toggle_todo_path(todo), method: :patch, class: "checkbox" %>
        <p><%= todo.text %></p>
        <%= button_to 'Delete', todo_path(todo), method: :delete, class: "delete" %>
      </div>
    <% end %>
  </div>
</div>